<!-- START Banner Section -->
	<div style="margin-top: 60px;">
		<div class="banner-wrap wsite-background">
			<div id="banner">
				<div id="home-page-enter-border">
					<div id="home-page-enter">	
						<div class='wsite-elements wsite-not-footer'>
							<div class="paragraph" style="text-align:center;margin-left:30%;">
								We get you quotes from <em><font color="#f8a9a9" size="5">great florists </font></em>for flowers for <font size="5"><em><font color="#f8a9a9">your </font></em><em><font color="#f8a9a9">big day</font></em></font>.
							</div>
						</div>
						<div id="enter-button" style="text-align:center;padding-left:25%;">
							<div class='wsite-elements wsite-not-footer'>								
									<div class="wsite-multicol wsite-multicol-table-wrap" style='margin:0px -0px'>
										<div class='wsite-multicol-col' style='width:45%;padding:0 0px'>
												<div style="text-align:right;" style="margin-left:50%;">
												<div style="height: 10px; overflow: hidden;"></div>
													<a class="wsite-button wsite-button-large wsite-button-normal" href="login.html">
														<span class="wsite-button-inner">Get Started!</span>
													</a>
												<div style="height: 10px; overflow: hidden;"></div>
											</div>
										</div>
									</div>	
							</div>
						</div>
					</div>
				</div>
				<a name="content" id="skip-to-content" href="#content" style="padding-left:110px"></a>			


<!-- START SKIP-TO-CONTENT Section -->	
		</div>
	</div>
	</div>
	<div style="margin-top: 60px;">
	</div>
<!-- START PRODUCT INTORDUCTION -->
	<div id="main-wrap">
		<div class="container">
			<div class="colorblocklight">
				<div class='wsite-elements wsite-not-footer'>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml colorful">
						<h2> The Perfect Flowers for Your Wedding,</h2>
						<div class="fancy-font-header"><h2>In 3 Easy Steps</h2></div>
					</div>
					<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
						<div class="step">
							<div id="step1">
								<h2>Step 1</h2>
								Discover Your Flower Inspiration & Wedding Style.
							</div>
							<div class="step-spacing"></div>
							<div id="step2">
								<h2>Step 2</h2>
								We Bring <i>You</i> Quotes From Amazing Florists.
							</div>
							<div class="step-spacing"></div>
							<div id="step3">
								<h2>Step 3</h2>
								Choose Your Favorite Quote & Visit Florists. 
							</div>
						</div>
						<div class="step">
							<div class="subcontent">
								Tell us what inspires YOU! Build your profile with pictures and inspiration so we can find you flowers that fit YOUR style. Tell us which events you need flowers for. 
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								We will send your personal flower profile and event needs to our favorite florists in your area to get the best possible price on your flowers.
							</div>
							<div class="step-spacing"></div>
							<div class="subcontent">
								Review your quotes, read our customer florist reviews and schedule a visit with your favorite florist. Print out your quote to bring to your florist visit.
							</div>
						</div>
					</div>
				</div>

<!-- START SKIP-TO-CONTENT-DARK Section -->

				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>

<!-- START FLORISTS IN YOUR AREA Section -->			
			<div class="colorblockdark-map">
				<div id="locations">
					<div class='wsite-elements wsite-not-footer'>
						<!--<h2 class="wsite-content-title" style="text-align:center;">We work with highly rated florists across the country - find yours!</h2>
					-->
					<div class="main-small-text">It looks like you are in <a href="#locations">(CITY)</a>. Not in <a href="#locations">(CITY?)</a></div>
					<h2 class="wsite-content-title" style="text-align:center;">We work with lots great florists near you!
					</h2>
				</div>

				<div align="center" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
							<!--
							<div id="map-container">
						
								<div class="map-links" id="map-links1">
									<ul>
										<li><a href="#">Atlanta</a></li>
										<li><a href="#">Boston</a></li>
										<li><a href="#">Charlotte</a></li>
										<li><a href="#">Chicago</a></li>
										<li><a href="#">Cleveland</a></li>
										<li><a href="#">Dallas</a></li>
									</ul>
								</div>
								
								<div id="map"></div>
								
								<div class="map-links" id="map-links2">
									<ul>
										<li><a href="#">Raleigh-Durham</a></li>
										<li><a href="#">Richmond</a></li>
										<li><a href="#">San Francisco</a></li>
										<li><a href="#">Seattle</a></li>
										<li><a href="#">Toronto</a></li>
										<li><a href="#">Washington DC</a></li>
									</ul>
								</div>
								
								<div class="map-links" id="map-links3">
									<ul>
										<li><a href="#">Denver</a></li>
										<li><a href="#">Detroit</a></li>
										<li><a href="#">Houston</a></li>
										<li><a href="#">Los Angeles</a></li>
										<li><a href="#">Miami</a></li>
									</ul>
								</div>
								
								<div class="map-links" id="map-links4">
									<ul>
										<li><a href="#">Milwaukee</a></li>
										<li><a href="#">New Orleans</a></li>
										<li><a href="#">New York</a></li>
										<li><a href="#">Phoenix</a></li>
										<li><a href="#">Portland</a></li>
									</ul>
								</div>
									
							</div>
						-->
					</div>
				</div>



				<div align="center" style="width: 100%; overflow-y: hidden;" class="sec2">
					<div class="step">
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5746861.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>The Secret Garden</b><br />New York, NY<br />"The Secret Garden is New York's best kept secret. &nbsp;Xavier's eye for design and flowers is truly amazing. I wouldn't go anywhere else for my event." - <i>Karen</i></p>
						</div>

						<div class="step-spacing"></div>
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_7772943.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>Flowers by the River</b><br />Boston, MA<br />"Janet was the only florist who knew exactly what I was looking for. She helped transform my day into something really special." - <i>Madison</i></p>
						</div>
						<div class="step-spacing"></div>
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5903774.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>Buckhead Florists</b><br />Atlanta, GA<br />"Choosing Buckhead Florists was the best decision I made for my wedding. They were incredibly professional and gave me the best advice," - <i>Channing</i></p>
						</div>
					</div>
					<div class="step">
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_5280707.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>Always in Bloom</b><br />Portland, OR<br />"Tess was the easiest person to work with.  She anticipated what I wanted and delivered above and beyond what was expected." - <i>Alexis</i></p>
						</div>
						<div class="step-spacing"></div>
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_6672402.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>Bella Fiora, A Floral Design Studio</b><br />San Francisco, CA<br />"Dino and Mark were both friendly and personable. I truly enjoyed working with them both and I would love to work with them again. HIGHLY RECOMMENDED!" - <i>Jessica</i></p>
						</div>
						<div class="step-spacing"></div>
						<div class="stepcol2">
							<span class='imgPusher' style='float:left;height:0px'></span><span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'><a><img src="http://rosehelp1.weebly.com/uploads/2/7/0/2/27022422/_6672402.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a><span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
							<p align="left"><b>Bella Fiora, A Floral Design Studio</b><br />San Francisco, CA<br />"Dino and Mark were both friendly and personable. I truly enjoyed working with them both and I would love to work with them again. HIGHLY RECOMMENDED!" - <i>Jessica</i></p>
						</div>
					</div>
				</div>
			</div>		
			<div>
				<div style="height: 20px; overflow: hidden; width: 100%;"></div>
				<hr class="styled-hr" style="width:100%;">
				<div style="height: 10px; overflow: hidden; width: 100%;"></div>
			</div>
		</div>
		<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
	</div>
	

<!-- START REVIEWS Section -->			
	<div class="colorblocklight">
		<div id="reviews">

			<!--<div style="display: none">-->
			<div id='wsite-content' class='wsite-elements wsite-not-footer'>
				<h2 class="wsite-content-title" style="text-align:center;">What Our Customers Say...</h2>
				<div>
					<div class="wsite-multicol">
						<div class='wsite-multicol-table-wrap' style='margin:0 -5px'>
							<table class='wsite-multicol-table'>
								<tbody class='wsite-multicol-tbody'>
									<tr class='wsite-multicol-tr'>
										<td class='wsite-multicol-col' style='width:50%;padding:0 5px'>
											
											<!-- START IMAGE TWO -->
											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
											<a>
												<img src="./img/pic18.jpeg" style="margin-top: 10px; margin-bottom: 0px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" /></a>
											<span style="display: block; font-size: 90%; margin-top: -0px; margin-bottom: 0px; text-align: center;" class="wsite-caption"></span></span>
											
											<div class="paragraph" style="text-align:left;display:block;">Brittany, 29, Austin<br />"I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>
											
											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='511063014915295518-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='511063014915295518-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer0' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' />
												</a>
												</div>
												</div>
												</div>
												</div>
												<div id='511063014915295518-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer1' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='183' _height='275' style='position:absolute;border:0;width:100%;top:-50.18%;left:0%' /></a>
												</div>
												</div>
												</div>
												</div>
												<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'><img src='./img/pic18.jpeg' class='galleryImage' _width='229' _height='220' style='position:absolute;border:0;width:100%;top:-14.05%;left:0%' /></a>
												</div></div></div></div>
												<div id='511063014915295518-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer3' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='214' _height='236' style='position:absolute;border:0;width:100%;top:-23.52%;left:0%' />
													</a>
												</div></div></div></div>
												<div id='511063014915295518-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer4' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='283' _height='178' style='position:absolute;border:0;width:119.24%;top:0%;left:-9.62%' />
												</a>
											</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<!-- START IMAGE TWO -->
											<div style="height: 0px; overflow: hidden;"></div></div>
											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
											<a>
												<img src="./img/pic18.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
												</a>
											<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
											
											<div class="paragraph" style="text-align:left;display:block;">Angie, 26, California<br />"Planning a destination wedding was a lot of work, but thanks to RoseBid getting the perfect flowers was easy!"</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='244' _height='207' style='position:absolute;border:0;width:100%;top:-6.56%;left:0%' />
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer1' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='611970405564771423-insideImageContainer2' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer3' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='200' _height='251' style='position:absolute;border:0;width:100%;top:-33.67%;left:0%' />
													</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer4' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='260' _height='194' style='position:absolute;border:0;width:100.52%;top:0%;left:-0.26%' />
													</a>
												</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<div style="height: 0px; overflow: hidden;"></div></div>
										</td>
										<!-- START COLUMN TWO -->
										<!-- START GALLERY THREE -->
										<td class='wsite-multicol-col' style='width:50%;padding:0 5px'>

											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
												<a>
													<img src="./img/pic18.jpeg" style="margin-top: 10px; margin-bottom: 0px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
												</a>
												<span style="display: block; font-size: 90%; margin-top: -0px; margin-bottom: 0px; text-align: center;" class="wsite-caption"></span></span>
											<div class="paragraph" style="text-align:left;display:block;">Jennifer, 25, Boston<br />"RoseBid was so easy to use. &nbsp;I filled in my style profile &amp; almost immediately had reasonable quotes from florists in my area."</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='289418634959057987-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='289418634959057987-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='289418634959057987-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
													</a>
												</div></div></div></div>
											<div id='289418634959057987-imageContainer1' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer1' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer2' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer2' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='183' _height='276' style='position:absolute;border:0;width:100%;top:-50.55%;left:0%' />
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer3' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer3' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='228' _height='221' style='position:absolute;border:0;width:100%;top:-14.62%;left:0%' />
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer4' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer4' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
													<img src='./img/pic18.jpeg' class='galleryImage' _width='226' _height='223' style='position:absolute;border:0;width:100%;top:-15.78%;left:0%' />
												</a>
											</div></div></div></div>
											<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<!-- START Image Gallery 4 -->
											<div style="height: 0px; overflow: hidden;"></div></div>

											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
												<a>
													<img src="./img/pic18.jpeg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder wsite-image" />
												</a>
												<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption">
												</span>
											</span>

											<div class="paragraph" style="text-align:left;display:block;">Caroline, 27, New York<br />"At first I tried to get quotes from florists on my own, but it was too much work. RoseBid made the process so quick and easy."</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='255855703393962300-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='255855703393962300-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='/./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' />
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer1' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='225' _height='225' style='position:absolute;border:0;width:100%;top:-16.67%;left:0%' />
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer2' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer2' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='183' _height='276' style='position:absolute;border:0;width:100%;top:-50.55%;left:0%' />
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer3' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer4' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
														<img src='./img/pic18.jpeg' class='galleryImage' _width='275' _height='183' style='position:absolute;border:0;width:112.7%;top:0%;left:-6.35%' />
													</a>
												</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<div style="height: 0px; overflow: hidden;"></div></div>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>