<!DOCTYPE html>
<html>
<head>
	<title>Rose Bid - Find the Perfect Flowers for Your Wedding - Home</title>
	<meta name='description' content='We match you with amazing florists for your wedding needs.' />
	<meta name='keywords' content='wedding, flowers, value, quality, bouquets' />
	<meta property='og:site_name' content='Rose Bid - Find the Perfect Flowers for Your Wedding' />
	<meta property='og:title' content='Rose Bid Home' />
	<meta property='og:description' content='We are a service that matches you to reputable florists for your wedding needs.' />
	<meta property='og:url' content='http://www.rose-bid.com/' />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet" type="text/css">

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-49645908-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

<!-- START CSS Files-->
	  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>	<link href="css/weebly-css1.css" rel='stylesheet' type='text/css' title='wsite-theme-css' />
	<link href="css/uikit.addons.css" rel='stylesheet' type='text/css' title='wsite-theme-css' />
	<link href="css/uikit.almost-flat.css" rel='stylesheet' type='text/css' title='wsite-theme-css' />
	<link href="css/main_style.css" rel='stylesheet' type='text/css' title='wsite-theme-css' />
<!-- END CSS Files-->

<!-- START FONT Files-->
	<link href="http://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- END FONT Files-->


<!-- INCLUDE JS Scripts -->
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<script src='./js/jquery.min.js'></script>

	<script type='text/javascript'>
		(function(jQuery){
			function initFlyouts(){initPublishedFlyoutMenus([{"id":"368315132519762447","title":"Home","url":"index.html","target":""},{"id":"103673539511303234","title":"Style Profile","url":"style-profile.html","target":""},{"id":"543970419534144645","title":"View Quotes","url":"view-quotes.html","target":""}],"368315132519762447","<li><a href='#'>{{title}}<\/a><\/li>",'active',false)}
			if (jQuery) {
				if (jQuery.browser.msie && !window.flyoutMenusRefreshable) window.onload = initFlyouts;
				else jQuery(initFlyouts);
			}else{
				if (Prototype.Browser.IE) window.onload = initFlyouts;
				else document.observe('dom:loaded', initFlyouts);
			}
		})(window._W && _W.jQuery) 
	</script>

</head>
	
<body class='short-header-page  wsite-theme-light'>


<!-- START Navbar-->
	<div id="nav-wrap">
		<div class="container">
			<table id="header">
				<tr>
					<td id ="logo"><!--{logo}-->
						<a href="index.html"><span class="stalemate">R</span><span id="title-text2">ose</span><span class="cinzel">Bid</span></a>
						<!--<img src="/files/theme/title-icon-4.png" id="title-icon">-->
						<span id="subtitle-text">Find the Perfect Flowers for Your Wedding</span>
					</td>
					<!--{menu}-->
					<td>
						<ul class='wsite-menu-default'>
							<li id='pg925725211574932156'><a href='index.html'>Home</a></li>
							<li id='pg925725211574932156'><a href='login.html'>Sign Up</a></li>
							<li id='pg925725211574932156'><a href='login.html'>Log In</a></li>
						</ul>
					</td>

					<!--<td class="search">{search}</td>-->
				</tr>
			</table>
		</div><!-- end container -->
	</div><!-- end nav-wrap -->

<!-- END Navbar-->
       
	<div class="banner-wrap wsite-background">
		<div id="banner">
			<!-- Modified <h2>{headline:text global="false"}</h2> 
				 <p>{headline-paragraph:text global="false"}</p>
				 <div class="button-wrap">{loginaction:button global="false"}</div> -->
			<div id="home-page-enter-border">

				<div id="home-page-enter">	
				</div>
			</div>
			
		</div>
	</div>

    <div id="main-wrap">
        <div class="container">
			<!--<div class="colorblocklight">
				<div>
					<div style="height: 20px; overflow: hidden; width: 100%;"></div>
					<hr class="styled-hr" style="width:100%;">
					<div style="height: 10px; overflow: hidden; width: 100%;"></div>
				</div>
				<a name="locations" id="skip-to-content-1" class="skip-to-content-dark" href="#locations"></a>	
			</div>
			
			<div class="colorblockdark-map">
				<a name="reviews" id="skip-to-content-2" class="skip-to-content-dark" href="#reviews"></a>
			</div>-->


<!-- START YIELD -->

			<div class="colorblocklight">

				
			
		<%= yield %>
			


			</div>

<!-- END YIELD -->

			<div id="content-bottom-padding"></div>
        </div><!-- end container -->
    </div><!-- end main-wrap -->

    
<!-- END YIELD -->


<script type="text/javascript" src="../Migration/js/custom.js"></script>
<script type="text/javascript" src="../Migration/js/custom-added.js"></script>
<script type="text/javascript" src="../Migration/js/raphael.js"></script>
<script type="text/javascript" src="../Migration/js/jquery.usmap.js"></script>
<script type="text/javascript" src="../Migration/js/color.jquery.js"></script>
<script type="text/javascript" src="../Migration/js/d3.js"></script>
<script type="text/javascript" src="../Migration/js/uikit.min.js"></script>

<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>
</html>